:root{
    /**Colors*/

    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}
/*- Weights: 400, 700*/
.outfit{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
html{
    font-size: 62.5%;
    box-sizing: border-box; /*Es para que no afecte el paddin al tamaño de px en totales*/
    background-color: var(--Light_gray);
    max-width: 120rem;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    padding: 0 3rem;
    color: var(--Dark_blue);
}
p{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
main{
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    place-items: center;
}
img{
    display: block;
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
}
.contenedor p{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: var(--Grayish_blue);
    padding: 1rem 3rem;
}
.qr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    padding-bottom: 0;
}
.contenedor{
    border-radius: 1rem;
    background-color: var();
    text-align: center;
    width: 30rem;
    margin: 3rem 0;
    background-color: var(--White);
}
